@import url("./fonts.css");

*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;

}
.container{
    margin: 0 auto;
    width: 100%;
    

}

#carouselExample{
    width: 468px;
    height: 60px;
}

